header{
    background-color: navy;
    color: white;
    display: flex;
    flex-direction: column;
    height: 8vh;
    ul{
        list-style: none;
        li{
            float: right;
            a{
                color: white;
                text-align: center;
                margin: 1em;
            }
        }
    }
}